<div class="flex flex-col w-screen h-[80vh]">
  <div class="flex p-5 justify-between">
    <h1 class="text-3xl">Books</h1>
    <div>
      <%= link_to "New book", new_book_path, class:"btn bg-green-500" %>
      <%= link_to "Go back to home", backroom_path, class:"btn bg-gray-400" %>
    </div>
  </div>
  <div class="separator"></div>
  <div class="flex">
    <div class="filter-form-container">
      <h1 class="text-2xl">Filter by</h1>
      <%= render "filter_form" %>
    </div>
    <% if @books.empty? %>
      <h1 class="text-3xl text-center text-red-500">No book matches the filters</h1>
    <% else %>
      <div id="books" class="items-container">
        <% @books.each do |book| %>
          <%= render book %>
          <div class="separator"></div>
        <% end %>
        <div class ="flex justify-evenly bg-slate-600 text-white rounded-md">
          <%= paginate @books %>
        </div>
      </div>
    <% end %>
  </div>


</div>
