<p>Hi admin !</p>
<%= link_to "List of books", "/backroom/books/" %> <br>
<%= link_to "Create new book", "/backroom/books/new" %> <br>
<%= link_to "List of authors", "/backroom/authors/" %> <br>
<%= link_to "Create new author", "/backroom/authors/new" %> <br>
<%= link_to "List of publishers", "/backroom/publishers/" %> <br>
<%= link_to "Create new publisher", "/backroom/publishers/new" %> <br>