<div class="w-screen h-[calc(100vh-80px)]">

    <p class="text-4xl text-center py-3">Welcome to the backroom</p>
    <p class="text-2xl text-center py-2">Entities</p>
    <div class="separator"></div>
    <div class="w-[50vw] mx-auto">
      <div class="flex justify-evenly py-4">
        <div>
          <h1 class="text-xl">Books</h1>
        </div>

        <div class="flex w-[50%] justify-evenly grow-0">
          <%= link_to "List of books", books_path, class: "btn bg-blue-400" %> <br>
          <%= link_to "Create new book", new_book_path, class: "btn bg-green-400" %> <br>
        </div>

      </div>

      <div class="separator"></div>
      
      <div class="flex justify-evenly py-4">
        <div>
          <h1 class="text-xl">Authors</h1>
        </div>
        <div class="flex w-[50%] justify-evenly grow-0">
          <%= link_to "List of authors", authors_path, class: "btn bg-blue-400" %> <br>
          <%= link_to "Create new author", new_author_path, class: "btn bg-green-400" %> <br>
        </div>
      </div>

      <div class="separator"></div>

      <div class="flex justify-evenly py-4">
        <div>
          <h1 class="text-xl">Publishers</h1>
        </div>
        <div class="flex w-[50%] justify-evenly grow-0">
            <%= link_to "List of publishers", publishers_path, class: "btn bg-blue-400 block" %> <br>
            <%= link_to "Create new publisher", new_publisher_path, class: "btn bg-green-400 block" %> <br>
        </div>
      </div>
    </div>
</div>
